---
layout: 'default'
---

%h1
  Allgemeine Geschäftsbedingungen
%h2
  1. Bestellen
%p
  Bitte beachte, dass Bestellungen bis 48 Stunden vor Lieferfrist eingehen
  müssen. Expressbestellungen sind nur nach Absprache und mit einem Preisaufschlag
  von CHF 10.00 möglich.
%h2
  2. Mindestbestellmenge
%ul
  %li
    Muffins &amp; Cupcakes, 6 cm: 10 Stück
  %li
    Muffins &amp; Cupcakes mini, 4 cm: 20 Stück
  %li
    Gritibenzen und Zopftiere, 18 cm: 8 Stück
%h2
  3. Bezahlung
%p
  Es ist nur Barzahlung bei Abholung bzw. Lieferung möglich.
%h2
  4. Annullierungen
%p
  Bestellungen müssen spätestens 24 Stunden vor Abholungs-/Liefertermin
  annulliert werden. Annullierungen unter 24 Stunden muss ich zu 100% verrechnen.
%h2
  5. Lieferung und Abholung
%p
  Ich biete nur Lieferungen innerhalb von Bremgarten an. Lieferungen in
  Bremgarten kosten CHF 10.00.
%h2
  6. Haltbarkeit
%p
  Alle Cupcaketoppings enthalten Frischkäse, Butter oder Rahm. Sie müssen
  gekühlt gelagert werden und sind zwei Tage haltbar. Kuchen und Muffins
  halten zugedeckt 3-4 Tage.
%h2
  7. Allergiehinweise
%p
  Die Backwaren enthalten alle Gluten und teilweise Milchprodukte soweit
  nicht anders deklariert. Mehl und Schokolade können immer Spuren von Nüssen
  enthalten. 
