---
layout: 'default'
---

%h1 Mutterschaftsurlaub

%p Im kommenden Juni werde ich zum dritten Mal Mama. Aus diesem Grund gehe ich bereits jetzt schon in Mutterschaftsurlaub und bin voraussichtlich ab 1. September 2014 wieder für Bestellungen für Sie da.

%p Bis im Juni gibt's jedoch weiterhin frische Cupcakes im Teashop &amp; Lounge in der Marktgasse in Bremgarten.

%p Die Cupcake-Kurse werde ich gemäss den Kursdaten natürlich durchführen.

%p
  %em Ich danke Ihnen für Ihr Verständnis und bis bald!

-#
  %h1 Aktuell
  %h2 Bestellungen über Teashop &amp; Lounge
  %p Bestellungen können neu auch im Teashop in der Marktgasse in Bremgarten aufgegeben werden. Claudia Spiegel Calderon oder Claudia Bamert geben Ihnen vor Ort gerne Auskunft.
  %p Oder möchten Sie gleich einen Cupcake probieren? Im Teashop gibts täglich frische Cupcakes in verschiedenen Variationen - und geniessen Sie doch gleich eine Tasse erlesenen Tee oder Kaffe dazu.
