---
layout: 'default'
---

%h1 Informationen zu den Kursen

%p
  Aus familiären Gründen werde ich die Bestellungen sowie die Cupcake-Deko-Kurse per Ende 2015 für unbekannte Zeit "auf Eis legen". Der bisher letzte Kurs findet daher am 15. Dezember 2015 statt - es hat noch drei Plätze frei.

%p
  Ich hoffe, ich werde schon bald wieder mit neuer Energie und vielen Ideen für Euch da sein.

%p
  Vielen Dank für Euer Verständnis und bis bald!

-#
  %h1 Aktuell
  %h2 Bestellungen über Teashop &amp; Lounge
  %p Bestellungen können neu auch im Teashop in der Marktgasse in Bremgarten aufgegeben werden. Claudia Spiegel Calderon oder Claudia Bamert geben Ihnen vor Ort gerne Auskunft.
  %p Oder möchtest Du gleich einen Cupcake probieren? Im Teashop gibts täglich frische Cupcakes in verschiedenen Variationen - und geniess doch gleich eine Tasse erlesenen Tee oder Kaffe dazu.
