---
layout: 'default'
---

%h1 Aktuell
%h2 Bestellungen über Teashop &amp; Lounge
%p Bestellungen können neu auch im Teashop in der Marktgasse in Bremgarten aufgegeben werden. Claudia Spiegel Calderon oder Claudia Bamert geben Ihnen vor Ort gerne Auskunft.
%p Oder möchten Sie gleich einen Cupcake probieren? Im Teashop gibts täglich frische Cupcakes in verschiedenen Variationen - und geniessen Sie doch gleich eine Tasse erlesenen Tee oder Kaffe dazu.
