---
layout: 'default'
---

.gallery
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4076.jpg", rel: "lightbox[Produkte]", title: "IMG_4076"}
        %img{alt: "IMG_4076", height: "250", src: "/images/gallerie/IMG_4076_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4300.jpg", rel: "lightbox[Produkte]", title: "IMG_4300"}
        %img{alt: "IMG_4300", height: "250", src: "/images/gallerie/IMG_4300_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4290.jpg", rel: "lightbox[Produkte]", title: "IMG_4290"}
        %img{alt: "IMG_4290", height: "250", src: "/images/gallerie/IMG_4290_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4393.jpg", rel: "lightbox[Produkte]", title: "IMG_4393"}
        %img{alt: "IMG_4393", height: "250", src: "/images/gallerie/IMG_4393_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_438411.jpg", rel: "lightbox[Produkte]", title: "IMG_438411"}
        %img{alt: "IMG_438411", height: "250", src: "/images/gallerie/IMG_438411_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4525.jpg", rel: "lightbox[Produkte]", title: "IMG_4525"}
        %img{alt: "IMG_4525", height: "250", src: "/images/gallerie/IMG_4525_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4528.jpg", rel: "lightbox[Produkte]", title: "IMG_4528"}
        %img{alt: "IMG_4528", height: "250", src: "/images/gallerie/IMG_4528_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4539.jpg", rel: "lightbox[Produkte]", title: "IMG_4539"}
        %img{alt: "IMG_4539", height: "250", src: "/images/gallerie/IMG_4539_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4559.jpg", rel: "lightbox[Produkte]", title: "IMG_4559"}
        %img{alt: "IMG_4559", height: "250", src: "/images/gallerie/IMG_4559_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4569.jpg", rel: "lightbox[Produkte]", title: "IMG_4569"}
        %img{alt: "IMG_4569", height: "250", src: "/images/gallerie/IMG_4569_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4576.jpg", rel: "lightbox[Produkte]", title: "IMG_4576"}
        %img{alt: "IMG_4576", height: "250", src: "/images/gallerie/IMG_4576_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4585-1.jpg", rel: "lightbox[Produkte]", title: "IMG_4585-1"}
        %img{alt: "IMG_4585-1", height: "250", src: "/images/gallerie/IMG_4585-1_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4588.jpg", rel: "lightbox[Produkte]", title: "IMG_4588"}
        %img{alt: "IMG_4588", height: "250", src: "/images/gallerie/IMG_4588_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/P5192674ret.jpg", rel: "lightbox[Produkte]", title: "P5192674ret"}
        %img{alt: "P5192674ret", height: "250", src: "/images/gallerie/P5192674ret_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/P5192687ret.jpg", rel: "lightbox[Produkte]", title: "P5192687ret"}
        %img{alt: "P5192687ret", height: "250", src: "/images/gallerie/P5192687ret_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/P5192701ret.jpg", rel: "lightbox[Produkte]", title: "P5192701ret"}
        %img{alt: "P5192701ret", height: "250", src: "/images/gallerie/P5192701ret_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/P5192710ret.jpg", rel: "lightbox[Produkte]", title: "P5192710ret"}
        %img{alt: "P5192710ret", height: "250", src: "/images/gallerie/P5192710ret_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/P5192728ret.jpg", rel: "lightbox[Produkte]", title: "P5192728ret"}
        %img{alt: "P5192728ret", height: "250", src: "/images/gallerie/P5192728ret_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/P5192748_ret.jpg", rel: "lightbox[Produkte]", title: "P5192748_ret"}
        %img{alt: "P5192748_ret", height: "250", src: "/images/gallerie/P5192748_ret_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/P5192789_ret.jpg", rel: "lightbox[Produkte]", title: "P5192789_ret"}
        %img{alt: "P5192789_ret", height: "250", src: "/images/gallerie/P5192789_ret_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/P5192863ret.jpg", rel: "lightbox[Produkte]", title: "P5192863ret"}
        %img{alt: "P5192863ret", height: "250", src: "/images/gallerie/P5192863ret_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/P5192804ret.jpg", rel: "lightbox[Produkte]", title: "P5192804ret"}
        %img{alt: "P5192804ret", height: "250", src: "/images/gallerie/P5192804ret_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/P5192810_ret.jpg", rel: "lightbox[Produkte]", title: "P5192810_ret"}
        %img{alt: "P5192810_ret", height: "250", src: "/images/gallerie/P5192810_ret_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/P5192820ret.jpg", rel: "lightbox[Produkte]", title: "P5192820ret"}
        %img{alt: "P5192820ret", height: "250", src: "/images/gallerie/P5192820ret_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/P5192832ret.jpg", rel: "lightbox[Produkte]", title: "P5192832ret"}
        %img{alt: "P5192832ret", height: "250", src: "/images/gallerie/P5192832ret_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/P5192840ret.jpg", rel: "lightbox[Produkte]", title: "P5192840ret"}
        %img{alt: "P5192840ret", height: "250", src: "/images/gallerie/P5192840ret_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_3821.JPG", rel: "lightbox[Produkte]", title: "IMG_3821"}
        %img{alt: "IMG_3821", height: "250", src: "/images/gallerie/IMG_3821_c250x250.JPG", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_3835.JPG", rel: "lightbox[Produkte]", title: "IMG_3835"}
        %img{alt: "IMG_3835", height: "250", src: "/images/gallerie/IMG_3835_c250x250.JPG", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_3842.JPG", rel: "lightbox[Produkte]", title: "IMG_3842"}
        %img{alt: "IMG_3842", height: "250", src: "/images/gallerie/IMG_3842_c250x250.JPG", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_3857.jpg", rel: "lightbox[Produkte]", title: "IMG_3857"}
        %img{alt: "IMG_3857", height: "250", src: "/images/gallerie/IMG_3857_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_3869.JPG", rel: "lightbox[Produkte]", title: "IMG_3869"}
        %img{alt: "IMG_3869", height: "250", src: "/images/gallerie/IMG_3869_c250x250.JPG", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_3885.JPG", rel: "lightbox[Produkte]", title: "IMG_3885"}
        %img{alt: "IMG_3885", height: "250", src: "/images/gallerie/IMG_3885_c250x250.JPG", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_3889.JPG", rel: "lightbox[Produkte]", title: "IMG_3889"}
        %img{alt: "IMG_3889", height: "250", src: "/images/gallerie/IMG_3889_c250x250.JPG", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_3902.JPG", rel: "lightbox[Produkte]", title: "IMG_3902"}
        %img{alt: "IMG_3902", height: "250", src: "/images/gallerie/IMG_3902_c250x250.JPG", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_3838.jpg", rel: "lightbox[Produkte]", title: "IMG_3838"}
        %img{alt: "IMG_3838", height: "250", src: "/images/gallerie/IMG_3838_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_3794.JPG", rel: "lightbox[Produkte]", title: "IMG_3794"}
        %img{alt: "IMG_3794", height: "250", src: "/images/gallerie/IMG_3794_c250x250.JPG", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4076a.JPG", rel: "lightbox[Produkte]", title: "IMG_4076"}
        %img{alt: "IMG_4076", height: "250", src: "/images/gallerie/IMG_4076a_c250x250.JPG", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_3819.jpg", rel: "lightbox[Produkte]", title: "IMG_3819"}
        %img{alt: "IMG_3819", height: "250", src: "/images/gallerie/IMG_3819_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4215_1.jpg", rel: "lightbox[Produkte]", title: "IMG_4215_1"}
        %img{alt: "IMG_4215_1", height: "250", src: "/images/gallerie/IMG_4215_1_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4077.jpg", rel: "lightbox[Produkte]", title: "IMG_4077"}
        %img{alt: "IMG_4077", height: "250", src: "/images/gallerie/IMG_4077_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4101.jpg", rel: "lightbox[Produkte]", title: "IMG_4101"}
        %img{alt: "IMG_4101", height: "250", src: "/images/gallerie/IMG_4101_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4080.jpg", rel: "lightbox[Produkte]", title: "IMG_4080"}
        %img{alt: "IMG_4080", height: "250", src: "/images/gallerie/IMG_4080_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4222_1.jpg", rel: "lightbox[Produkte]", title: "IMG_4222_1"}
        %img{alt: "IMG_4222_1", height: "250", src: "/images/gallerie/IMG_4222_1_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/IMG_4100.jpg", rel: "lightbox[Produkte]", title: "IMG_4100"}
        %img{alt: "IMG_4100", height: "250", src: "/images/gallerie/IMG_4100_c250x250.jpg", width: "250"}/
  .container
    .thumb
      %a{href: "/images/gallerie/Nina_Cupcake1.jpg", rel: "lightbox[Produkte]", title: "Nina_Cupcake1"}
        %img{alt: "Nina_Cupcake1", height: "250", src: "/images/gallerie/Nina_Cupcake1_c250x250.jpg", width: "250"}/
%br{style: "clear:both;"}/
