---
layout: 'default'
---

%h1
  Wer kennt das nicht!
%p
  Plötzlich steht der Geburtstag, das Kaffeekränzchen oder ein anderer Anlass
  an und es fehlt Ihnen die Zeit, um etwas Feines zu backen?
%h2
  Kein Problem...
%p
  Ich backe Ihnen im Nu Cupcakes – Muffins und Cakes – Grittibänze und vieles
  mehr nach Wunsch! Jedes Stück wird einzeln zubereitet, ist immer frisch
  und schmeckt so einzigartig wie selbstgemacht. 
%p
  Nina Isler-Wölfle 
  %br/
  5620 Bremgarten
%p
  079 206 14 05
  %br/
  %a{href: 'mailto:backnische@gmx.ch'} backnische@gmx.ch
