---
layout: 'default'
---

%h1 Kurse
%p Bitte wählen Sie den gewünschten Kurs an, um mehr Informationen zu erhalten:

#accordion
  %h2
    %img{alt: 'cupcakes', src: '/images/cupcakes.jpeg'}/
    %span.title.small Cupcake Deko-Kurs - Basic
  %div
    %p Möchten Sie einmal selbst in die süsse Welt der Cupcakes eintauchen?
    %p In diesem Kurs lernen Sie:
    %ul
      %li Grundlagen zum Backen von Cupcakes
      %li Grundlagen zum Herstellen von Topping (Butter- und Frischkäsecrème)
      %li Was sind die wichtigsten Utensilien zum Dekorieren von Cupcakes?
      %li Unterschied von Fondant und Blütenpaste
      %li Fondant oder Buttercrème?
      %li Einfärben von Fondant und Blütenpaste
      %li Modellieren von Blumen und Figuren
      %li Prägen von Fondant
      %li Aufspritzen der Buttercrème mittels Spritzbeutel
    %p Am Ende des Workshops können Sie sechs selbst dekorierte Cupcakes mit nach Hause nehmen.
    %h2 Kursdaten 2015
    %ul
      %li 15. November 2015
      %li 13. Dezember 2015
    %h2 Kurskosten
    %p CHF 85.00 pro Person inkl. Material und sechs Cupcakes. Preisänderungen vorbehalten, November 2012.
    %h2 Kursort
    %p Kursort ist die Schulküche des Schulhauses Promenade in Bremgarten AG.
    %h2 Anmeldung
    %p
      Die Anmeldung erfolgt schriftlich per e-Mail. Bitte geben Sie Ihre Adresse und Telefonnummer an. Sie erhalten
      umgehend eine Kursbestätigung mit weiteren Informationen.



  %h2
    %img{alt: 'advanced', src: '/images/advanced.jpg'}/
    %span.title.small Cupcake Deko-Kurs - Advanced
  %div
    %p Möchten Sie Ihr Cupcake-Wissen noch weiter vertiefen?
    %p In diesem Kurs lernen Sie:
    %ul
      %li Repetieren Kurs Basic
      %li Modellieren von Blumen und Figuren
      %li Was ist Kristallpuder oder Dekorgel?
      %li Bemalen, Einfärben, Bepudern, Verzieren….
      %li Prägen von Fondant mittels Strukturrollen
      %li Der Spritzbeutel - mein Freund, mein Feind oder verschiedene Spritztechniken erlernen
      %li In diesem Kurs kann gut auf die Wünsche der Teilnehmer/innen eingegangen werden
    %p Am Ende des Workshops können Sie sechs selbst dekorierte Cupcakes mit nach Hause nehmen.
    %h2 Kursdaten
    %ul
      %li Auf Anfrage
    %h2 Kurskosten
    %p CHF 85.00 pro Person inkl. Material und sechs Cupcakes. Preisänderungen vorbehalten, Februar 2013.
    %h2 Kursort
    %p Kursort ist die Schulküche des Schulhauses Promenade in Bremgarten AG.
    %h2 Anmeldung
    %p
      Die Anmeldung erfolgt schriftlich per e-Mail. Bitte geben Sie Ihre Adresse und Telefonnummer an. Sie erhalten
      umgehend eine Kursbestätigung mit weiteren Informationen.



  %h2
    %img{alt: 'privat', src: '/images/privat.jpg'}/
    %span.title.small Cupcake Deko-Kurs - bei Ihnen zu Hause
  %div
    %p
      Möchten Sie einmal selbst in die süsse Welt der Cupcakes eintauchen? Dies jedoch mit Ihren Freundinnen
      gemütlich bei Ihnen zu Hause?
      Kein Problem! Ab 5 Personen kommt Backnische auch in Ihre Stube! Ideal für einen Frauen-Nachmittag,
      Polterabend, Baby Shower etc…
    %p In diesem Kurs lernen Sie:
    %ul
      %li Grundlagen zum Backen von Cupcakes
      %li Grundlagen zum Herstellen von Topping (Butter- und Frischkäsecrème)
      %li Was sind die wichtigsten Utensilien zum Dekorieren von Cupcakes?
      %li Unterschied von Fondant und Blütenpaste
      %li Fondant oder Buttercrème?
      %li Einfärben von Fondant und Blütenpaste
      %li Modellieren von Blumen und Figuren
      %li Prägen von Fondant
      %li Aufspritzen von Buttercrème mittels Spritzbeutel
    %p Am Ende des Workshops können Sie sechs selbst dekorierte Cupcakes Ihren Lieben präsentieren.
    %h2 Kursdaten
    %p Nach Absprache
    %h2 Kurskosten
    %p CHF 95.00 pro Person inkl. Material und sechs Cupcakes. Preisänderungen vorbehalten, Februar 2013.
    %h2 Anmeldung/Anfrage
    %p
      Die Anfrage erfolgt per e-Mail oder telefonisch. Ich werde mich umgehend für Details mit Ihnen in Verbindung
      setzen.



  %h2
    %img{alt: 'kinder', src: '/images/kinder.jpg'}/
    %span.title.small Kinderbackkurs
  %div
    %p
      Wir backen - gemeinsam mit Mama, Papa oder Grosi - Cookies in allen Formen und Varianten - z.B. Autos, Hello
      Kittys, Dinosaurier, Hunde…
    %p Dieser Kurs beinhaltet:
    %ul
      %li Cookies ausstechen und backen
      %li Cookies mit farbiger Glasur und verschiedenen Dekorationen verziehren
      %li Zvieri
      %li Cookie-Rezepte für zu Hause
    %p
      Am Ende des Workshops kannst Du natürlich Deine selbst gebackenen und verziehrten Kunstwerke mit nach Hause
      nehmen.
    %h2 Kursdaten
    %ul
      %li Im Moment ist kein weiterer Kurs geplant.
    %p Kursdaten für 2013 folgen in Kürze!
    %h2 Kurskosten
    %p
      CHF 50.00 pro Kind inkl. Material, Cookies und Zvieri.
      Preisänderungen vorbehalten, Februar 2013
    %h2 Kursort
    %p Kursort ist die Schulküche des Schulhauses Promenade in Bremgarten AG.
    %h2 Anmeldung
    %p
      Die Anmeldung erfolgt schriftlich per e-Mail. Bitte gib Eure Adresse und Telefonnummer an. Ihr erhaltet
      umgehend eine Kursbestätigung mit weiteren Informationen.
