---
layout: 'default'
---

%h1
  Produkte
%p Bitte wählen Sie das gewünschte Produkt an, um mehr Informationen zu erhalten:



#accordion
  %h2
    %img{alt: 'cupcakes', src: '/images/cupcakes.jpg'}/
    %span.title Cupcakes
  %div
    %table
      %thead
        %tr
          %td
          %td
            Basic*
          %td
            Deluxe**
      %tbody
        %tr
          %td
            Cupcakes, 6 cm
          %td
            CHF 4.80
          %td
            CHF 5.50 bis 9.50
        %tr
          %td
            Cupcakes mini, 3 cm
          %td
            CHF 3.80
          %td
            CHF 4.50 bis 7.50
    %p
      Die Preise der Cupcakes können je nach Materialaufwand
      variieren. Preisänderungen vorbehalten, Mai 2012
    %h3
      Dekoration
    %p
      * Mit Topping (Butter-/Frischkäsecrème) oder Fondant überzogen
      und einfacher Dekoration
    %p
      ** Mit Topping (Butter-/Frischkäsecrème) oder Fondant
      überzogen, individuell und aufwändig dekoriert



  %h2
    %img{alt: 'cakes', src: '/images/cakepops.jpg'}/
    %span.title Cake Pops
  %div
    %p
      Lieben Ihre Kinder Stängeliglacé und Lollis? Dann werden diese Kuchen am Stiel eine riesen Überraschung für den nächsten Kindergeburtstag!
    %table
      %thead
        %tr
          %td
          %td
            Basic*
          %td
            Deluxe**
      %tbody
        %tr
          %td
            Cake Pops
          %td
            CHF 4.10
          %td
            CHF 4.50 bis 6.00
        %tr
          %td
          %td
    %p
      Preise der Cake Pops können je nach Materialaufwand
      variieren. Preisänderungen vorbehalten, Mai 2013
    %h3
      Dekoration
    %p
      * Mit Glasur oder Fondant überzogen und einfacher Dekoration
    %p
      ** Mit Glasur oder Fondant überzogen, individuell und aufwändig dekoriert



  %h2
    %img{alt: 'cookies', src: '/images/cookies.jpg'}/
    %span.title Cookies
  %div
    %p
      Cookies für jede Gelegenheit - als Tischnamenstafeln bei Hochzeiten oder
      Geburtstage oder auch als Kundengeschenk
    %table
      %tbody
        %tr
          %td
            Cookie, gross (&gt; 10 cm)
          %td
            CHF 4.80 (Mindestbestellmenge 8 Stück)
        %tr
          %td
            Cookie, mini mit Icing/Glasur
          %td
            CHF 3.80 (100gr.)
        %tr
          %td
            Cookie, mini ohne Icing/Glasur
          %td
            CHF 3.50 (100gr.)
    %p
      Cookies gibts in allen Varianten - als Herz, Cupcake, Teekanne, Sommerkleid,
      Tulpe, Traktor, Kinderwagen, Schmetterling, Krone...



%p
  Bitte beachten Sie meine
  = succeed ',' do
    %a{href: '/agb.html'} allgemeinen Geschäftsbedingungen
